mixin days(options)
    section.days
        .days__content 
            h2.days__title=options.title 
            .days__slider.swiper 
                ul.days__list.swiper-wrapper 
                    li.days__item.swiper-slide 
                        a(href="#!")
                            h3.days__date=options.date1 
                            h4=options.list1
                            ul 
                                li 
                                    p=options.day1
                                    p=options.month1
                                    p=options.time1
                                li 
                                    p=options.day2
                                    p=options.month2
                                    p=options.time2
                                li
                                    p=options.day3
                                    p=options.month3
                                    p=options.time3
                            p=options.dop
                            button(type="button").intro__link Записаться
                    li.days__item.swiper-slide 
                        a(href="#!")
                            h3.days__date=options.date2 
                            h4=options.list2
                            ul 
                                li 
                                    p=options.day4
                                    p=options.month4
                                    p=options.time4
                                li 
                                    p=options.day5
                                    p=options.month5
                                    p=options.time5
                                li
                                    p=options.day6
                                    p=options.month6
                                    p=options.time6
                            p=options.dop
                            button(type="button").intro__link Записаться
                    li.days__item.swiper-slide 
                        a(href="#!")
                            h3.days__date=options.date3 
                            h4=options.list3
                            ul 
                                li 
                                    p=options.day7
                                    p=options.month7
                                    p=options.time7
                                li 
                                    p=options.day8
                                    p=options.month8
                                    p=options.time8
                                li
                                    p=options.day9
                                    p=options.month9
                                    p=options.time9
                            p=options.dop
                            button(type="button").intro__link Записаться
            .days__buttons
                .swiper-button-prev.days-swiper-button-prev
                .swiper-pagination.days-swiper-pagination
                .swiper-button-next.days-swiper-button-next
            .days__extra
                p!=options.small