mixin path(options)
    section.path
        .path__content 
            h2.path__title=options.title
            ul.path__list 
                li 
                    p=options.text1
                li 
                    p=options.text2
                li 
                    p=options.text3
                li 
                    p=options.text4