mixin program(options)
    - const layoutList = options.nextList ? options.nextList : ''
    - const layoutListTwo = options.nextListTwo ? options.nextListTwo : ''
    section.program
        .program__content 
            h2.program__title=options.title
            .program__inner 
                if layoutList === 'another__list'
                    .program__box(class=layoutList) 
                        .program__block
                            img(src=options.img1)
                            img(src=options.img2)
                        ul.program__list 
                            li 
                                p=options.text1
                            li 
                                p=options.text2
                            li 
                                p=options.text3
                            li 
                                p=options.text4
                            li 
                                p=options.text5
                            img(src=options.img2)
                            li 
                                p=options.text6
                            li 
                                p=options.text7
                            li 
                                p=options.text8
                            li 
                                p=options.text9
                            li 
                                p=options.text10
                else if layoutListTwo === 'another__list-two'
                    .program__box(class=layoutListTwo)
                        .program__block 
                            img(src=options.img1)
                            img(src=options.img2)
                        ul.program__list 
                            li 
                                p=options.text1
                            li 
                                p=options.text2
                            li 
                                p=options.text3
                            li 
                                p=options.text4
                            li 
                                p=options.text5
                            li 
                                p=options.text6
                            img(src=options.img2)
                            li 
                                p=options.text7
                            li 
                                p=options.text8
                            li 
                                p=options.text9
                            li 
                                p=options.text10
                            li 
                                p=options.text11
                            li 
                                p=options.text12
                else       
                    .program__box 
                        .program__block 
                            img(src=options.img1)
                            img(src=options.img2)
                        ul.program__list 
                            li 
                                p=options.text1
                            li 
                                p=options.text2
                            li 
                                p=options.text3
                            li 
                                p=options.text4
                            li 
                                p=options.text5
                            li 
                                p=options.text6
                            li 
                                p=options.text7
                            li 
                                p=options.text8
                            img(src=options.img2)
                            li 
                                p=options.text9
                            li 
                                p=options.text10
                            li 
                                p=options.text11
                            li 
                                p=options.text12
                            li 
                                p=options.text13
                            li 
                                p=options.text14
                            li 
                                p=options.text15
                            li 
                                p=options.text16