mixin whant(options)
    section.whant
        .whant__content 
            h2.whant__title=options.title
            ul.whant__list 
                li 
                    .whant__item-content 
                        img(src=options.image1)
                        p=options.text1
                li 
                    .whant__item-content 
                        img(src=options.image2)
                        p=options.text2
                li 
                    .whant__item-content 
                        img(src=src=options.image3)
                        p=options.text3
                li 
                    .whant__item-content 
                        img(src=src=options.image4) 
                        p=options.text4
                li 
                    .whant__item-content 
                        img(src=src=options.image5)
                        p=options.text5
                li 
                    .whant__item-content 
                        img(src=src=options.image6)
                        p=options.text6